<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'core/img/naruto.gif' %}" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Modificar persona | Ayuda_A_Un_Peludo</title>
</head>

<body>
  <nav id="hola" class="navbar navbar-expand-lg navbar-light bg-link">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'core/img/fondo.jpg' %}" height="40" width="40"> Ayuda_A_Un_Peludo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'personas'%}">registro de persona</a>
          </li>        
        </ul>
        <span class="navbar-text">
          la mejor veterinaria del mundo
        </span>
      </div>
    </div>
  </nav>
</nav>



    <div class="container">
        <form action="" method="post" id="formulario">
            
            <h1>Modificar libro</h1>
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_table }}
            </div>
            <input type="submit" value="Modificar" class="btn btn-primary" id="enviar">
        </form>
    </div>

</body>

</html>