<!doctype html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
        <meta charset="utf-8">
        <title> Ayuda a un peludo </title>
        <meta name"viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
        <link type="text/css" rel="stylesheet" href="css/estilos.css">

    </head>
    <body>
        <nav id="hola" class="navbar navbar-expand-lg navbar-light bg-link">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'core/img/fondo.jpg' %}" height="40" width="40"> Ayuda_A_Un_Peludo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'personas'%}">registro de persona</a>
                  </li>        
                </ul>
                <span class="navbar-text">
                  la mejor veterinaria del mundo
                </span>
              </div>
            </div>
          </nav>
        </nav>
        <div class="container" >
            <div class="row">
                <div class="col-12" align="center">
                    <img src="{% static 'core/img/logo.jpg' %}">
                </div>
            </div>
            <div class="row fondoceleste">
                <ul class="nav justify-content-center">
                    <li class="nav-item col-3">
                    <a class="nav-link active letrascolor" href="#!">Inicio</a>
                    </li>
                    <li class="nav-item col-3">
                    <a class="nav-link letrascolor" href="#!">Adoptar</a>
                    </li>
                    <li class="nav-item col-1">
                    <a class="nav-link letrascolor" href="clima.js">Clima</a>
                    </li>
                </ul>
            </div>

            <div class="row" align="center" >
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                        <img src="{% static 'core/img/fondoa.jpg' %}" width="200" height="200" class="d-block w-50" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                        <img src="{% static 'core/img/fondob.jpg' %}"  width="200" height="200" class="d-block w-50" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="{% static 'core/img/fondoc.jpg' %}"  width="200" height="200" class="d-block w-50" alt="...">
                        </div>
                    </div>
                    <button  class="carousel-control-prev opacidad" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="fondoamarillo">Atrás</span>
                    </button>
                    <button class="carousel-control-next opacidad" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                        <span class="fondoamarillo">Siguiente</span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

        
            <div class="row separador2">
                <div class="col-6 fondoazul letrascolora separador4">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
                </div>
                <div class="col-4 separador2 separador6" class="embed-responsive embed-responsive-16by9" >
                   <iframe width="400" height="265" src="https://www.youtube.com/embed/HeiUiFWpjqQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            
            <div class="row fondoceleste">
                <ul class="nav justify-content-center">
                    <li class="col-1 letrascolor">
                    <p>Reseñas</a>
                    </li>
                </ul>
            </div>

            <div class="row separador">
                <div class="col-1">
                    <img src="{% static 'core/img/persona1.jpg' %}"  width="84" height="84">
                </div>
                <div class="col-8 letrascolorb">
                     <h5>Media heading</h5>
                     <h6 class="fondoazul">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</h6>
                </div>
            </div>

            <div class="row separador">
                <div class="col-1">
                    <img src="{% static 'core/img/persona2.jpg' %}" width="84" height="84">
                </div>
                <div class="col-8 letrascolorb">
                     <h5>Media heading</h5>
                     <h6 class="fondoazul">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</h6>
                </div>
            </div>

            <div class="row separador ">
                <div class="col-1">
                    <img src="{% static 'core/img/persona3.jpg' %}" width="84" height="84">
                </div>
                <div class="col-8 letrascolorb">
                     <h5>Media heading</h5>
                     <h6 class="fondoazul">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</h6>
                </div>
            </div>

            <div class="row fondoceleste">
                <ul class="nav justify-content-center">
                    <li class="col-1 letrascolor">
                    <p>Contactanos</a>
                    </li>
                </ul>
            </div>

            <div class="row separador3"> 
                <div class="col-12" align="center">
                    <img class="rounded-circle" src="{% static 'core/img/face.png' %}" alt="Circle image" width="50px">
                    <h5>Facebook/Ayuda A Un Peludo</h5>
                </div>
            </div>
            
            <div class="row separador3">
                <div class="col-12" align="center">
                    <img class="rounded-circle" src="{% static 'core/img/insta.png' %}" alt="Circle image" width="50px">
                    <h5>Instagram/Ayuda_A_Un_Peludo</h5>
                </div>
            </div>

            <div class="row separador3">
                <div class="col-12" align="center">
                    <img class="rounded-circle" src="{% static 'core/img/twitter.png' %}" alt="Circle image" width="50px">
                    <h5>Twitter/@AyudaAUnPeludo</h5>
                </div>
            </div>

            <div class="row separador3">
                <div class="col-12" align="center">
                    <img class="rounded-circle" src="{% static 'core/img/what.png' %}" alt="Circle image" width="50px">
                    <h5>+56982469715</h5>
                </div>
            </div>
       
            <div class="row">
                <form name="formulario">
                    <div class="form-group row letrascolor">
                        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre">
                        </div>
                        <div class="form-group row letrascolor">
                            <label for="edad" class="col-sm-2 col-form-label">Edad</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="edad" placeholder="Ingresar edad">
                        </div>
                        <div class="form-group row letrascolor">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" placeholder="Ingresar su correo electronico">
                        </div>
                    </div>
                    <div class="form-group row letrascolor" >
                        <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                    </form>
            </div>

        </div>

        <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'core/js/miscript.js' %}"></script>
        <script src="{% static 'core/js/jquery-3.6.0.min.js' %}"></script>
    </body>

</html>